<h1><%= t('views.common.edit') %></h1>

<%= render "form", fishlist: @fishlist %>

<br>

<div>
  <%= link_to t('views.common.show'), @fishlist %> |
  <%= link_to t('views.common.back'), fishlists_path %>
</div>
