<%= link_to t('views.common.new'), new_fishlist_path %>
<h1><%= t('views.common.newpost') %></h1>

<div id="fishlists">
  <% @fishlists.each do |fishlist| %>
    <%= render fishlist %>
    <p>
      <%= link_to t('views.common.show'), fishlist %>
    </p>
  <% end %>
</div>
