<%= render @fishlist %>

<div>
  <% if @fishlist.user.id == current_user.id %>
    <%= link_to t('views.common.edit'), edit_fishlist_path(@fishlist) %>
    <%= button_to t('views.common.destroy'), @fishlist, method: :delete %>
  <% end %>

  <%= link_to t('views.common.back'), fishlists_path %>
</div>
